<a href="https://colab.research.google.com/github/yogeshbhattarai060-crypto/Yogesh-Bhattarai-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
arr = np.array([5, 10, 15, 20, 25, 30, 35, 40, 45, 50])
selected = arr[[2, 4, 6, 8]]
print(selected)

[15 25 35 45]

In [ ]:
import numpy as np

arr = np.array([10, 20, 30, 40, 50])

# Create mask: condition -> values greater than 25
mask = arr > 25

print("Mask:", mask)        # [False False  True  True  True]
print("Filtered:", arr[mask])  # [30 40 50]

Mask: [False False  True  True  True]
Filtered: [30 40 50]

In [ ]:
a = np.array([1, 2, 3])      # Shape: (3,)
b = np.array([[1, 2], [3, 4]]) # Shape: (2,2)

print(a > b)  # Error!

ValueError: operands could not be broadcast together with shapes (3,) (2,2)

In [ ]:
import numpy as np
from scipy import stats

arr = np.array([1, 2, 2, 3, 4, 2, 3])

mode = stats.mode(arr)

print("Mode:", mode.mode[0])
print("Count:", mode.count[0])

IndexError: invalid index to scalar variable.

In [ ]:
import numpy as np
from scipy import stats

arr = np.array([1, 2, 2, 3, 4, 2, 3])

mode_result = stats.mode(arr, keepdims=False)

print("Mode:", mode_result.mode)
print("Count:", mode_result.count)

Mode: 2
Count: 3

In [ ]:
import numpy as np
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]])

print(arr2d[0:2, 1:3])   # rows 0-1, cols 1-2 → [[2 3]
                         #                       [5 6]]

print(arr2d[:, 1])       # all rows, column 1 → [2 5 8]

print(arr2d[1, :])       # row 1, all cols → [4 5 6]

[[2 3]
 [5 6]]
[2 5 8]
[4 5 6]

In [ ]:
import numpy as np

identity = np.eye(8)  # 3x3 identity
print(identity)

[[1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1.]]

In [ ]:
import numpy as np

arr = np.array([0, np.pi/4, np.pi/2])

print("sin:", np.sin(arr))
print("cos:", np.cos(arr))
print("tan:", np.tan(arr))

sin: [0.         0.70710678 1.        ]
cos: [1.00000000e+00 7.07106781e-01 6.12323400e-17]
tan: [0.00000000e+00 1.00000000e+00 1.63312394e+16]

convert 2d array to 3d array and 3d array to 2d array

In [ ]:
import numpy as np

arr2d = np.array([[1, 2, 3],
                  [4, 5, 6]])

arr3d = arr2d.reshape((2, 3, 1))

print(arr3d)
print(arr3d.shape)

[[[1]
  [2]
  [3]]

 [[4]
  [5]
  [6]]]
(2, 3, 1)

Slice the 2d array in the similar way

In [ ]:
import numpy as np

arr2d = np.array([[1, 2, 3, 4],
                  [5, 6, 7, 8],
                  [9, 10, 11, 12]])

print("Original 2D array:\n", arr2d)

slice1 = arr2d[0:2, 1:3]
slice2 = arr2d[:, ::2]
slice3 = arr2d[1:, 2:]

print("\nSlice 0:2, 1:3\n", slice1)
print("\nSlice all rows, every 2nd column\n", slice2)
print("\nSlice from row 1 to end, column 2 to end\n", slice3)

Original 2D array:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

Slice 0:2, 1:3
 [[2 3]
 [6 7]]

Slice all rows, every 2nd column
 [[ 1  3]
 [ 5  7]
 [ 9 11]]

Slice from row 1 to end, column 2 to end
 [[ 7  8]
 [11 12]]

Explore slicing and Indexing in 2d and 3d array and also use negative indexing

In [ ]:
import numpy as np

arr2d = np.array([[1, 2, 3, 4],
                  [5, 6, 7, 8],
                  [9, 10, 11, 12]])

print("Original 2D array:\n", arr2d)
print("\nSlice 0:2, 1:3:\n", arr2d[0:2, 1:3])
print("\nAll rows, every 2nd column:\n", arr2d[:, ::2])
print("\nLast row, last two columns:\n", arr2d[-1, -2:])

Original 2D array:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

Slice 0:2, 1:3:
 [[2 3]
 [6 7]]

All rows, every 2nd column:
 [[ 1  3]
 [ 5  7]
 [ 9 11]]

Last row, last two columns:
 [11 12]

Create a NumPy array of numbers from 10 to 50.

In [ ]:
import numpy as np

arr = np.arange(10, 51)
print(arr)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

Generate a 3×3 identity matrix.

In [ ]:
import numpy as np

identity_matrix = np.eye(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Create a NumPy array of 10 random integers between 1 and 100.

In [ ]:
import numpy as np

random_integers = np.random.randint(1)
print(random_integers)

[71 50 83 93 68 86 48 15 27 68]

Find the maximum and minimum of an array.

In [ ]:
import numpy as np

arr = np.array([10, 20, 50, 40, 30])

maximum = arr.max()
minimum = arr.min()

print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 50
Minimum: 10

Reshape a 1D array of 12 elements into a 3×4 matrix.

In [ ]:
import numpy as np

arr1d = np.arange(1, 13)
arr2d = arr1d.reshape(3, 4)

print(arr2d)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

Create an array of all even numbers between 50 and 100.

In [ ]:
import numpy as np

even_numbers = np.arange(50, 101, 2)
print(even_numbers)

[ 50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84
  86  88  90  92  94  96  98 100]

Given an array [1,2,3,4,5], compute the square of each element.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
squared = arr ** 2

print(squared)

In [ ]:
Create two arrays and perform element-wise operations

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: [5 7 9]
Subtraction: [-3 -3 -3]
Multiplication: [ 4 10 18]
Division: [0.25 0.4  0.5 ]